{% extends "BaklavaBorekBundle::layout.html.twig" %}

{% block content %}

    <div class="page-title" style="margin-bottom: 50px">
        <div class="title_left">
            <h3>{{ "Report" | trans }}</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <strong>{{ "The number of days of delay Liar" | trans }} &cong; </strong> {{ average }}
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ "Most Liar Who" | trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ "Name" | trans }}</th>
                            <th>{{ "Total Order" | trans }}</th>
                            <th>{{ "Total Lie (Late Purchases Included)" | trans }}</th>
                            <th>{{ "Total Purchase" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for liar in liars %}
                                <tr>
                                    <td>{{ liar["nameSurname"] }}</td>
                                    <td>{{ liar["totalOrderCount"] }}</td>
                                    <td>{{ liar["totalLieCount"] }}</td>
                                    <td>{{ liar["totalPurchaseCount"] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ "Most Who Hunted" | trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ "Name" | trans }}</th>
                            <th>{{ "Received Penalty" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hunted in huntedList %}
                            <tr>
                                <td>{{ hunted.name }} {{ hunted.surname }}</td>
                                <td>{{ hunted.piece }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ "Most Who Catch" | trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ "Name" | trans }}</th>
                            <th>{{ "Hunt Count" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hunter in hunterList %}
                            <tr>
                                <td>{{ hunter.name }} {{ hunter.surname }}</td>
                                <td>{{ hunter.piece }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ "The Plant in Most People" | trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ "Name" | trans }}</th>
                            <th>{{ "Hunted Count" | trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for honest in honestList %}
                            <tr>
                                <td>{{ honest.name }} {{ honest.surname }}</td>
                                <td>{{ honest.piece }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div id="pieChart" class="col-md-12 col-sm-12 col-xs-12" data-pie="{{ pie|json_encode() }}">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{ "Most ignored those" | trans }}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="echart_pie" style="height:350px;"></div>

                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
{% endblock %}